<ul class="list-unstyled list-group">
  <li class="list-group-item">
    Mike Price, UO Math Assistant Deparment Head
  </li>
  <li class="list-group-item">
    Ben Young, UO Math Professor
  </li>
</ul>
