<div class="main-topic col-md-5 col-md-offset-2">
  <div id="profile-pic"></div>
  I'm Ben, a full-stack web development student at Epicodus in Portland.
  <p>
    <a href="https://github.com/bencornelis">Github</a> |
    <a href="https://www.linkedin.com/in/bencornelis">LinkedIn</a>
  </p>
</div>

<div class="separator col-md-offset-1"></div>

<div class="my-panel col-md-2 col-md-offset-1">
  <h3 class="text-center">
    Skills
  </h3>
  <hr>
  <% @skills.each do |skill| %>
    <div class="text-center item">
      <%= link_to skill.name, skill_path(skill) %>
    </div>
  <% end %>
  <hr>
    <div class="text-center skill">
    <% if policy(Skill.new).create? %>
      <%= link_to "Add skill", new_skill_path, class: "crud-link" %>
    <% end %>
    </div>
</div>
