<div class="row">
  <div class="col-md-6">
    <%= render "success" %>
    <h2>
      <%= @skill.name %>
      <%= link_to "Edit skill", edit_skill_path(@skill), class: "crud-link pull-right" %>
    </h2>
    <hr>
    <p>
      <%= @skill.description %>
    </p>
  </div>

  <div class="col-md-6">

  </div>
</div>
