<h3 class="text-center">
  Recent Posts
</h3>
<hr>
<% if @recent_posts.any? %>
  <% @recent_posts.each do |post| %>
    <div class="item">
      <%= link_to post.title, post_path(post) %>
      <span class="weak">(<%= post.posted_at %>)</span>
    </div>
  <% end %>
<% else %>
 No posts yet
<% end %>
<hr>
