<div class="col-md-5 col-md-offset-1 my-panel">
  <%= render "post", post: @post %>
</div>

<div class="separator col-md-offset-1"></div>

<div class="my-panel col-md-3 col-md-offset-1">
  <%= render "recent_posts" %>
</div>
